
@inherits FluxorComponent

@inject IDispatcher Dispatcher
@inject IState<ChessState> State

<div class="my-component">
    This component is defined in the <strong>FluxorChess</strong> library.
</div>
