@using Common
<h2>FluxorGame</h2>



@using Fluxor
@inherits FluxorComponent
@inject IState<ChessState> State
@inject IDispatcher Dispatcher



@code
{
    [Parameter]
    public ChessGame Game { get; set; }
}
