@inherits FluxorComponent
@inject IDispatcher Dispatcher
@inject IState<ChessState> State

@* <h2>This is the  Chess Feature Module</h2> *@

@if (_game == null)
{
    <GamesList />
}
else
{
    <FluxorGame Game="State.Value.CurrentGame" />
}


@code {

    private ChessPlayer? _player;
    private bool _viewGame;
    private ChessGame? _game;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        SubscribeToAction<JoinGameAction>(action =>
        {
            _game = action.Game;
        });

        
    }

   
}
