
@inherits FluxorComponent
@inject IDispatcher Dispatcher
@inject IState<ChessState> State

@* <h2>This is the  Chess Feature Module</h2> *@

@if (_game == null)
{
    <GamesList />
}
else
{
    <FluxorGame Game="_game" />
}

@code {

    private ChessPlayer? _player;
    private ChessGame? _game;

protected override void OnInitialized()
    {
        base.OnInitialized();
        SubscribeToAction<NewGameReducerAction>((paylaod) =>
        {
            _game = paylaod.Game;
            if (_player == null)
            {
                _player = paylaod.Game.GameInfo.CreateBy;
            }
            else if(
                _player.Name == paylaod.Game.PlayerOne.Name 
                || _player.Name == paylaod.Game.PlayerTwo.Name)
            {
                _game = paylaod.Game;
            }


        });
        SubscribeToAction<JoinGameReducerAction>((chessGame) =>
        {
            _game = chessGame.Game;
        });

   
    }

}