@using FluxorChess.Models
@inherits FluxorComponent

@inject IDispatcher Dispatcher
@inject IState<ChessState> State


<div>
    <BlazmGrid Data="Games" PageSize="20">
        <GridColumns>
            <GridColumn Field="@nameof(ChessGame.CreateBy)"></GridColumn>
            <GridColumn Field="@nameof(ChessGame.LastUpdateTimestamp)"></GridColumn>
        </GridColumns>
    </BlazmGrid>
</div>

@code{

    public List<ChessGame> Games { get; set; } = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        SubscribeToAction<ChessSetStateAction>(payload => { Games = payload.Games; });
    }


}
