.chess-board {
    width: 760px;
    height: 760px;
    
    border-collapse: collapse;
}

    .chess-board td {
        width: 40px;
        height: 40px;
        border: 1px solid #333;
    }

    .chess-board tr:nth-child(odd) td:nth-child(odd),
    .chess-board tr:nth-child(even) td:nth-child(even) {
        background-color: #f0d9b5; /* light square */
    }

    .chess-board tr:nth-child(odd) td:nth-child(even),
    .chess-board tr:nth-child(even) td:nth-child(odd) {
        background-color: #b58863; /* dark square */
    }
