@using Fluxor
@using Fluxor.Blazor.Web.Components
@using global::Bingo.Store


@inherits FluxorComponent
@inject IDispatcher Dispatcher
@inject IState<BingoState> PokerState

<div class="my-component">
    This component is defined in the <strong>ScrumPoker</strong> library.
</div>
