@page "/"

<PageTitle>Index</PageTitle>


<div>
    <button @onclick="PlayBingo" class="btn  btn-primary">Play Bingo Poker</button>
</div>
<div>
    <button @onclick="PlayPoker" class="btn  btn-primary">Play Scrum Poker</button>
</div>


@code {

    [Inject]
    private NavigationManager NavigationManager { get; set; } = null!;


    private void PlayPoker()
    {
        NavigationManager.NavigateTo("/poker");
    }

    private void PlayBingo()
    {
        NavigationManager.NavigateTo("/bingo");
    }

}