@page "/"
@inject IMatToaster Toaster

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Toaster.Add("Toast Dark body text", MatToastType.Dark, "Test");
        Toaster.Add("Toast Light body text", MatToastType.Light, "Test");
        Toaster.Add("Toast Link body text", MatToastType.Link, "Test");
        Toaster.Add("Toast Secondary body text", MatToastType.Secondary, "Test");
        Toaster.Add("Toast Success body text", MatToastType.Success, "Test");
    }
}