@page "/"
@inject IMatToaster Toaster

<PageTitle>Sack Full Of Ninjas</PageTitle>

<span><h1><img src="Images/SackFullOfNinjas.webp" />SackFullOfNinjas.com</h1></span>

@* <SackFullOfNinjaStory />  *@


@code
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}