
@inherits FluxorComponent
@inject IDispatcher Dispatcher
@inject IState<BingoState> PokerState

<div class="my-component">
    This component is defined in the <strong>Bingo Component</strong> library.
</div>

@code{

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Dispatcher.Dispatch(new BingoHubStartAction());
    }

}