@using ScrumPokerFeatureModule.Store
@inherits FluxorComponent
@inject IDispatcher Dispatcher
@inject IState<PokerState> PokerState

<div class="my-component">
    This component is defined in the <strong>ScrumPoker</strong> library.
</div>



@code{

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Dispatcher.Dispatch(new PokerHubStartAction());
    }

}