@using Fluxor
@using Fluxor.Blazor.Web.Components
@using global::ScrumPoker.Store

@inherits FluxorComponent
@inject IDispatcher Dispatcher
@inject IState<PokerState> PokerState

<div class="my-component">
    This component is defined in the <strong>ScrumPoker</strong> library.
</div>
