@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="PlayBingo"  class="btn  btn-primary">Play Bingo Poker</button>
<button @onclick="PlayPoker" class="btn  btn-primary">Play Scrum Poker</button>

@code {

    [Inject]
    private NavigationManager NavigationManager { get; set; }=null!;


    private void PlayPoker()
    {
        this.NavigationManager.NavigateTo("/poker");
    }

    private void PlayBingo()
    {
        this.NavigationManager.NavigateTo("/bingo");
    }

}

